* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

/* .header {
    max-width: 100%;
    margin: 12px 70px 12px 70px;
    display: flex;
    flex-direction: column;
}

.header .heading {
    font-weight: 500;
    font-size: 24px;
}

.main {
    max-width: 100%;
    margin: 5px 70px 0 70px;
    display: flex;
    flex-direction: row;
    
}


.main .item {
    padding: 0 15px;
    font-weight: 700;
    font-size: 16px;
    text-align: left;
}

.main .item-1 {
    margin: 0 10px 0 70px;
    font-weight: 700;
    font-size: 16px;
} */